.ansible
.bundle
.cache
.cargo
.config
.local
.npm
.rustup
.ssh
.vscode-server

/bench
/local
/go

webapp/*.pem
webapp/rust
webapp/python
webapp/ruby
webapp/php
webapp/perl

.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.viminfo
.wget-hsts
